:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:  #121212;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
*{
  margin:0;
  padding:0
}

.navOuter{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #211f1f;;;
  height:50px;
  width: 100%;
  margin-top:0;
  padding-top: 0px;
  color:blue;
  align-self: center;
 display: flex;
 align-items: center;
justify-content: space-between;
  
}

.navOuter p{
  color: #ffffff;
}
.navOuter p:hover{
  color: rgb(182, 248, 0);
}
.navAbout{
  text-align: left;
  color:rgb(39, 172, 233);
}
.nabAbout:hover{
  cursor: pointer;
}
.navHome{
  display: flex;
  justify-content: center;
  align-items:center;
  margin:10px;
  padding-bottom: 0px;
  color: rgba(242, 255, 5, 0.932);
  font-family: 'Roboto';
  border: 1px soild yellow;
 
    }



.navAddPost{
  display: flex;
  align-items:center;
  margin: 10px;;
  justify-content: right;
   text-align:right;
    padding-right: 10px;
    color:#7cb5d3
    
}
.navAddPost:hover{
  cursor: pointer;
  color: rgb(1, 255, 251);
}
.app-outer{
position: relative;
width:500px;
}

.homeContainer{
height:100vh;
width:100%;

}
.list{
   height:auto;
  
}

.preview{
  height: auto;
  width:100%;
  color:aliceblue;
  background-color:#121212;

 display: flex;
  padding-bottom:10px;
  border: 1px solid rgb(40, 37, 37);
}
.num{
  width:60px;
}
.story{
  display:flex;
  flex-direction:column;
  text-align: left;
  width:85%;
}
.like{
  flex:1;
  display: flex;
display: flex;
align-items: center;
justify-content: center;
  
  
}
.comment{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}
.comment:hover{
  color:#7cb5d3
}
.preview h1{
  color:rgb(42, 48, 54)
}

.preview:hover{
  cursor: pointer;
  background-color: #0d0c0c;
}

.aboutContainter{
  display: flex;
  justify-content: center;
  margin:80px;
  width:'60%';
  height:100vh;
         
  color:rgb(123, 123, 123)
}

.postContainer{
    color: rgb(123, 123, 123);
    display:flex;
    align-items: center;
    flex-direction:column;
}
.formOuter{
  min-width: 100px;
  max-width: 500px;
  height:auto;
  color:#d5b5b5;
  background-color: #ffffff;
  padding:30px;
  border-radius: 20px;
 
}
.titlePost{

  font-size:xx-large;
  height:100px;
  
  padding :60px;


}