:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:  #121212;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
*{
  margin:0;
  padding:0
}

.navOuter{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #211f1f;;;
  height:50px;
  width: 100%;
  margin-top:0;
  padding-top: 0px;
  color:blue;
  align-self: center;
 display: flex;
 align-items: center;
justify-content: space-between;
  
}

.navOuter p{
  color: #ffffff;
}
.navOuter p:hover{
  color: rgb(182, 248, 0);
}
.navAbout{
  text-align: left;
  padding-left: 10px;
  color:orangered;
}

.navRefresh{
   text-align:right;
    padding-right: 10px;
}
.app-outer{
position: relative;
width:500px;
}

.homeContainer{
height:100vh;
width:100%;

}
.list{
   height:auto;
  
}

.preview{
  height: auto;
  width:100%;
  color:aliceblue;
  background-color:#121212;

 display: flex;
  padding-bottom:10px;
  border: 1px solid rgb(40, 37, 37);
}
.num{
  width:60px;
}
.story{
  display:flex;
  flex-direction:column;
  text-align: left;
  width:85%;
}
.like{
  flex:1;
  display: flex;
display: flex;
align-items: center;
justify-content: center;
  
  
}
.preview h1{
  color:aliceblue
}